<div class="col-4 card mb-3">
  <img src="{{image_url}}" class="mx-auto d-block beer-card-img card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text"><small class="text-muted">{{tagline}}</small></p>
    <p class="card-text">{{description}}</p>
  </div>
</div>
