/*
white: #F7F9F9;
light-blue: #2081C3;
dark-blue: #0A2C42;
grey: rgba(145, 145, 145, 0.481);
font-family: Arial, Helvetica, sans-serif
*/
  
body {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  padding: 50px;
}

#navbar {
  margin-bottom: 50px;
  background-color: #2081c3;
  color: #F7F9F9;
}

#navbar a {
  color: #F7F9F9;
}

.footer {
  background-color: #0A2C42;
  color: #F7F9F9;
}

.beer-img {
  padding-bottom: 40px;
  width: 30%;
}

.home .btn {
  background-color: #2081C3;
  margin: 10px;
}

.beer-card-img {
  width: 15%;
}

.random-beer-card-img {
  width: 25%;
}