{{!-- <div class="index-container">
  <h1>test</h1>
</div> --}}

<main role="main" {{!-- class="flex-shrink-0" --}}>
  <div class="home container">
    
    <div class="column">
      <img class="beer-img rounded mx-auto d-block" src="/images/beer.png" alt="">
    <form action="/beers">
      <input class="mx-auto d-block btn btn-primary" type="submit" value="Check the Beers!" />
    </form>
    <form action="/random-beer">
      <input class="mx-auto d-block btn btn-primary" type="submit" value="Check a Random Beer!" />
    </form>
    </div>
  </div>
</main>